@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Panel {
  position: relative;
}
.Sidebar {
  position: fixed;
  height: $height-100vh;
  background: $main-dark;
  display: flex;
  padding: $padding-20 0 $padding-30;
  flex-direction: column;
  width: $width-230;
  @include setTopLeft(0, 0);
  @include transition;
  color: $white-color;

  a {
    text-align: center;
  }

  &.Hidden {
    @include transform(-100%);
  }

    & > *:nth-child(2) {
      flex: 1;
    }
    & > *:last-child {
      flex-shrink: 0;
    }
}

.Hamburger{
  position: fixed;
  @include setTopLeft(10px, 230px);
  @include setSquare(30px);
  background: $main-dark;
  cursor: pointer;
  overflow: hidden;
  border-top-right-radius: $radius-5;
  border-bottom-right-radius: $radius-5;
  @include transition();
  z-index: $z-index;

  &.Hidden {
    left: $left-0;
  }
}

.Hamburger > span{
  position: absolute;
  @include setWidthHeight(15px, 2px);
  @include setTopLeft(48%, 21%);
  background-color: $white-color;
  border-radius: $radius-2;
}

.Hamburger > span:nth-child(2){
  top: $top-22pct;
}

.Hamburger > span:nth-child(3){
  top: $top-70pct;
}

@media only screen and (max-width: $mobile-max-size) {
  .Sidebar {
    width: $width-54;
  }

  .Hamburger {
    left: $left-54;
  }
}
