@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Inner-wrapper {
  padding: $padding-0 $padding-36 $padding-0 $padding-30;
  position: relative;
  @include transition;
  margin-left: $margin-left-full-mode;
  overflow: hidden;
  &.Hidden{
    margin-left: $margin-0;
  }

  .Box {
    padding-top: $padding-50;
  }

  .Box:first-child {
    padding-top: $padding-40;
  }

  .ScrollToTop {
    cursor: pointer;
    position: absolute;
    bottom: $bottom-0;
    right: $right-30;
    @include setSquare(30px);
    border-top-left-radius: $radius-5;
    border-top-right-radius: $radius-5;
    text-align: center;
    padding-top: $padding-5;
    color: $white-color;
    background: $main-dark;
  }
}

@media only screen and (max-width: $mobile-max-size) {
  .Inner-wrapper {
    margin-left: $margin-left-mobile-mode;

    &.Hidden{
      margin-left: $margin-0;
    }
  }
}
