@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Photobox {
  display: block;
  margin: $margin-0;
  color: $white-color;

  .Avatar {
    @include zeroAutoMargin();
    border: $border-1 solid $white-color;
    border-radius: $radius-50pct;
    @include setSquare(163px);

    img {
      height: $height-100pct;
    }
  }

  figcaption {
    margin-top: $margin-10;
    text-align: center;
  }

  strong.Name {
    font-size: $font-main-size;
    font-weight: $font-main-weight;
    line-height: $line-height-main;
  }

  .Title {
    margin: $margin-10 $margin-0;
    font-size: $font-title-size;
    font-weight: $font-title-weight;
    line-height: $line-height-title;
  }
}

.PhotoboxSmall {
  display: block;
  margin: $margin-0;
  color: $white-color;

  .Avatar {
    border: $border-1 solid $white-color;
    border-radius: $radius-50pct;
    @include zeroAutoMargin();
    @include setSquare(100px);

    img {
      height: $height-100pct;
    }
  }

  figcaption {
    display: block;
    margin-top: $margin-10;
    text-align: center;
  }
  strong.Name {
    font-size: $font-size-16;
    font-weight: $font-main-weight;
    line-height: $line-height-19;
  }
  .Title {
    display: none;
  }
}

@media only screen and (max-width: $mobile-max-size) {
  .Photobox {
    figcaption {
      padding: 0 $padding-5;
      font-size: $font-size-12;
      strong.Name {
        font-size: $font-title-size;
      }

      .Title {
        font-size: $font-size-16;
      }
    }
  }

  .PhotoboxSmall {
    .Avatar {
      @include setSquare(40px);
    }

    figcaption {
      display: none;
    }
  }
}
