@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Button-wrapper {
  display: inline-block;
  @include zeroAutoMargin;
  text-align: center;
  background-color: $main-dark;
  border-radius: $radius-5;
  padding: $padding-10 $padding-20;
  color: $white-color;
  cursor: pointer;
  font-size: $font-size-16;
  line-height: $line-height-19;


  &:hover {
    background-color:$main-green;
  }
  .Button:nth-child(2) {
    display: inline;
  }

}

@media only screen and (max-width: $mobile-max-size) {
  .Button-wrapper {
    .Button:nth-child(2) {
      display: none;
    }
  }
}
