@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $margin-40;
  padding: $padding-20 $padding-15;
  border: $border-1 solid $main-green;
  border-radius: $radius-5;

  .Input-wrapper {
    margin-bottom: $margin-20;

    label {
      display: inline-block;
      width: $width-95;
    }

    input {
      padding: $padding-10;
      border: $border-1 solid $grey-color;
      border-radius: $radius-5;

      &:focus {
        border: $border-1 solid $main-green;
        outline: none;
      }
    }
    .Input-notvalid {
      border-color: $red-color;
      color: $red-color;
    }
  }

  .Error {
    display: block;
    color: $red-color;
    font-size: $font-size-12;
  }
  button[type="submit"] {
    background-color: $main-dark;
    color: $white-color;
    cursor: pointer;
    padding: $padding-10 $padding-20;
    border: none;
    border-radius: $radius-5;
    font-size: $font-size-16;
    line-height: $line-height-19;
    width: fit-content;

    &:hover {
      background-color: $main-green;
    }

    &:hover,
    &:active {
      background-color: $main-green;
    }

    &:disabled {
      background-color: $grey-color;
      opacity: 0.5;
      cursor: not-allowed;
      color: $main-dark;
    }
  }
}
