@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.filter-container.Filter {
  display: flex;
  flex-direction: row;
  @include setZeroPaddingMargin;
  overflow: hidden;


}

.Breadcrumb {
  padding: $padding-20 $padding-0;
  list-style: none;
  font-size: $font-size-16;
  line-height: $line-height-19;

  li {
    display: inline;
    color: $main-dark;
    cursor: pointer;
  }

  li:first-child {
    padding-right: $padding-4;
  }

  li+li:before {
    padding: $padding-2;
    content: "/\00a0";
  }

  li:hover,
  li.Clicked {
    color: $main-green;
  }
}
