@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.filter-item {
  margin: $margin-0 $margin-20 $margin-20 $margin-0;
  padding: $padding-0;
  @include setWidthHeight(308px, 190px);
  position: relative;
  overflow: hidden;

  &:hover .Hovering-wrapper{
    top: $top-0;
  }
  img {
    @include setWidthHeight(308px, 190px);
  }

  & .Hovering-wrapper {
    @include setWidthHeight(308px, 190px);
    overflow: hidden;
    position: absolute;
    left: $left-0;
    padding: $padding-20 $padding-15 $padding-30;
    background: $white-color;
    border: $border-1 solid #ddd;
    box-sizing: border-box;
    top: $top-100pct;
    opacity: 0.95;
    @include transition;

    h3 {
      margin: $margin-0;
      color: $main-green;
    }

    a {
      color: $main-green;
    }
  }
}
