@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Skillset {
  margin-bottom: $margin-20;
}

.Ruler {
  position: relative;

  .Label-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: $top-minus10;
    width: $width-100pct;

    .Label {
      display: flex;
      flex-direction: column;

      .Title {
        padding-top: $padding-5;
      }

      .Line {
        @include setWidthHeight(1px, 10px);
        background: $main-dark;
      }

      &:first-child{
        flex-basis: $flex-16pct;
        flex-shrink: 2;
      }

      &:nth-child(2),
      &:nth-child(3){
        width: $flex-33pct;

        .Line {
          align-self: center;
        }

        .Title {
          align-self: center;
        }
      }

      &:nth-child(4){
        flex-basis: $flex-16pct;

        .Line {
          align-self: flex-end;
        }

        .Title {
          align-self: flex-end;
        }
      }
    }
  }
}
