@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Expertise {
  ul {
    margin: $margin-0;
    padding: $padding-0;
  }
  ul > li {
    display: flex;
  }
  h3 {
    margin-bottom: $margin-5;
  }

  .Expertise-date {
    min-width: 127px;
    margin-right: $margin-30;
  }

  .Expertise-info {
    p {
      margin: $margin-0;
    }
  }
}
