@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Address {
  @include setZeroPaddingMargin;
  list-style-type:none;

  li {
    margin-bottom: $margin-20;
  }
  li:last-child {
    margin-bottom: $margin-0;
  }
  li > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: $font-size-16;
    line-height: $line-height-19;
    color: $main-dark;
  }

  .Address-icon {
    margin-right: $margin-20;
    color: $main-green;
    align-self: center;
    .icon{
      @include setSquare(30px);
    }

  }

  .Address-info {
    text-align: left;

    p {
      margin: $margin-0;
    }
  }
}

li:first-child .Address-info,
li:nth-child(2) .Address-info {
  margin-top: $margin-5;
}
