@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Skills-wrapper {
  position: relative;

  & > div:first-child{
    position: absolute;
    right: $right-0;
    top: $top-minus65;
  }
}
