@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Home {
  background: url("../../assets/images/home.png") no-repeat center/cover;
  position: fixed;
  @include setTopLeft(0, 0);
  min-width: $width-100pct;
  min-height: $height-100pct;
  color: $white-color;

  .Home-wrapper {
    display: flex;
    flex-direction: column;
    margin: $margin-17pct auto $margin-0;
    max-width: $width-500;
    align-items: center;

    & > *:first-child {
      margin-bottom: $margin-10;
    }
  }
}
