@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Navigation {
  margin-top: $margin-40;
  color: $grey-color;
  ul {
    list-style: none;

    li {
      height: $height-60;
      cursor: pointer;

      & > .active,
      &:hover {
        color: $main-green;
      }

      .Item {
        display: flex;
        justify-content: flex-start;

        .Icon {
          margin-right: $margin-20;
        }
        .Item-name {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-max-size) {
  .Navigation {
    ul {
      padding: $padding-0;

      li {
        .Item {
          display: block;

          .Icon {
            text-align: center;
            margin-right: $margin-0;
          }

          .Item-name {
            display: none;
          }
        }
      }
    }
  }
}


