@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Timeline {
  min-height: $width-30vh;
  max-height: $width-80vh;
  overflow-x: auto;

  .Status {
    height: $width-30vh;
    line-height: $width-30vh;
    text-align: center;
  }

  .Icon {
    color: $main-green;
  }

  .Error {
    font-weight: $font-title-weight;
    color: $red-color;
  }

  & > ul {
    position: relative;
    padding: $padding-15 0 $padding-15 $padding-15;
  }

  .Timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: $margin-10;

    .Timeline-date {
      padding: $padding-15;
      background: $white-color;
      position: relative;
      left: $left-minus15;
    }
    article {
      position: relative;
      background: $grey-background;
      padding: $padding-15;
    }

    article:after {
      content: "";
      position: absolute;
      @include setTopLeft(15px, -10px);
      @include setSquare(0);
      border-top: $border-10 solid transparent;
      border-bottom: $border-10 solid transparent;
      border-right: $border-10 solid $grey-background;
    }
  }
  & > ul:before {
    background: $main-green;
    position: absolute;
    top: $top-0;
    bottom: $bottom-0;
    left: $left-10;
    width: $width-4;
    content: "";
    margin-left: $margin-18;
  }

  h3 {
    margin-top: $margin-0;
  }
}



