@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Feedback {
  padding-bottom: 20px;
  & > figure{
    margin: $margin-0;
    blockquote {
      margin: $margin-0;
    }
    figcaption {
      margin-top: $margin-18;
      align-self: center;
    }
  }

  .Reporter-site {
    color: $main-green;
    text-decoration: none;
  }
}
