@import "../../assets/styles/mixins";
@import "../../assets/styles/margin.vars";
@import "../../assets/styles/typography.vars";
@import "../../assets/styles/colors.vars";
@import "../../assets/styles/size.vars";
@import "../../assets/styles/padding.vars";

.Skill {
  height: $height-30;
  background: $main-green;
  margin-bottom: $margin-5;
  color: $white-color;
  font-size: $font-size-16;
  line-height: $line-height-19;
  padding: $padding-5 $padding-15;
}
