@import "./assets/styles/typography.vars";
@import "./assets/styles/colors.vars";
@import "./assets/styles/size.vars";

@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'open_sans', sans-serif;
  font-size: $font-default-size;
  font-weight: $font-default-weight;
  line-height: $line-height-default;
  color: $main-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  html, body {
    height: $height-100pct;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
