$margin-0: 0;
$margin-5: 5px;
$margin-10: 10px;
$margin-18: 18px;
$margin-20: 20px;
$margin-30: 30px;
$margin-40: 40px;
$margin-17pct: 17vh;
$margin-left-mobile-mode: 54px;
$margin-left-full-mode: 230px;
