@mixin zeroAutoMargin {
  margin: 0 auto;
}

@mixin setZeroPaddingMargin {
  margin: 0;
  padding: 0;
}

@mixin setSquare($size) {
  width: $size;
  height: $size;
}

@mixin setWidthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setTopLeft($top, $left) {
  top: $top;
  left: $left;
}

@mixin transition {
  transition: 0.6s;
}

@mixin transform($val) {
  transform: translateX($val);
}
