//size of block: width and height
$width-4: 4px;
$width-54: 54px;
$width-82: 82px;
$width-95: 95px;
$width-230: 230px;
$width-500: 500px;
$width-600: 600px;
$width-100pct: 100%;
$width-30vh: 30vh;
$width-80vh: 80vh;

$flex-16pct: 16.6%;
$flex-33pct: 33.3%;

$mobile-max-size: $width-600;

$height-30: 30px;
$height-60: 60px;
$height-100pct: 100%;
$height-100vh: 100vh;

//positioning: top, left, right, bottom, z-index
$left-minus15: -15px;
$left-0: 0;
$left-10: 10px;
$left-54: 54px;

$top-minus65: -65px;
$top-minus10: -10px;
$top-0: 0;
$top-22pct: 22%;
$top-70pct: 70%;
$top-100pct: 100%;

$right-0: 0;
$right-30: 30px;

$bottom-0: 0;

$z-index: 9999;

//border parameters
$radius-2: 2px;
$radius-5: 5px;
$radius-50pct: 50%;

$border-1: 1px;
$border-10: 10px;


