$font-default-size: 14px;
$font-default-weight: 400;
$line-height-default: 21px;
$font-main-size: 45px;
$font-main-weight: 700;
$line-height-main: 54px;
$font-title-size: 25px;
$font-title-weight: 600;
$line-height-title: 30px;
$font-size-16: 16px;
$line-height-19: 19.2px;
$font-size-12: 12px;
$line-height-14: 14.4px;
